.custom-scrollbar::-webkit-scrollbar {
	width: 5px;
	height: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
	background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background: rgba(161, 161, 170, 0.4);
	border-radius: 999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
	background: rgba(161, 161, 170, 0.7);
}
